.quizHeader h1 + h2 {
  margin-top: 1rem;
}

ol {
  list-style-position: inside;
  counter-reset: list;
}

ol li {
  width: 15rem;
  border-bottom: 1px solid var(--quiz-border-color);
  color: var(--quiz-text-color);
  list-style: none;
  padding: 0 0 0.5rem 0;
}

ol li:before {
  content: counter(list) ") ";
  counter-increment: list;
}

ol li + li {
  margin-top: 1rem;
}

li:hover {
  color: var(--quiz-primary-color);
}

.questionText + .answersList {
  margin-top: 1rem;
}
